/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* image slider */
/* course area */
.course-color{
    color: #777777;
}
/* working area */
.bg-working{
    background-color:  #F4FAFD;;
}
/* company area */
.company{
    height: 25px;
    width: 178px;
}
/* footer */
footer{
    background-color: #161616;
}
footer a i{
    color: white;
    font-size: 40px;
    margin-left: 25px;
}